.header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #ffffff;
  padding: 0.875rem 2rem;
  min-height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main {
  background-color: hsl(var(--light-gray));
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  /* TODO: make it responsive */
  padding: var(--side-padding);
}

.footer {
  z-index: 1;
  min-height: 109px;
  width: 100%;
  max-width: 1261px;
  display: flex;
  align-items: center;
}
